<h1>Choose a Spell:</h1>

<div id="spell-chooser">
  <ul>
    <li>
      {{#link-to 'first-spell' 'first-page'}}One Page Spell{{/link-to}}
    </li>
    <li>
      {{#link-to 'second-spell' 'first-page'}}Two Page Spell{{/link-to}}
    </li>
  </ul>
</div>

<div id="spell-container">
  {{outlet}}
</div>
