{{#enchant-spell title="Two Page Spell"}}
  {{#enchant-page title="First Page"}}
    <p>
      Content for first page.
    </p>
    <form>
      <input type="text">
    </form>
  {{/enchant-page}}
  {{#enchant-page title="Second Page"}}
    <p>
      Content for first page.
    </p>
  {{/enchant-page}}
{{/enchant-spell}}
